{{template "base" .}}

{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>This is the About page</h1>
      <p>my-project is a cool project.</p>
      <p>
        <a href="/">Home</a>
      </p>
    </div>
  </div>
</div>
{{end}}

{{define "js"}}
<script>
  window.alert("This is the alert message")
</script>
{{end}}