{{template "base" .}}

{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>This is the Home page</h1>
      <p>Welcome to my beaultiful twisted dark fantasy!</p>
      <p>
        <a href="/about">About Us</a>
      </p>
      <img src="/static/img/architecture.jpg" height="500" width="750" alt="Architecture" />
    </div>
  </div>
</div>
{{end}}